*{
    list-style: none;
}

.my-ul{
    padding-left: 0;
    margin: auto;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
}

header{
    width: 100%;
    height: 70px;
}

main{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}

.sidebar{
    width: 150px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0f263d;
}

.main-content{
    width: calc(100% - 150px);
    height: 100%;
    overflow-y: auto;
}

.my-img{
    width: 25px;
    height: 25px;
}

#padding-table{
    padding-right: 15em;
}